h1, h4, h2, h3, h5 {
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(80, 32, 32);

}

.ul { font-family: Helvetica, sans-serif;
    color: lightseagreen;
    font-size: 15px;
}

.ol { font-family: "new times roman, helvetica";
    font-size: 15px;
    color: blueviolet;

}

p { color: red;
    font-weight: 700;
    font-style: italic;


}